div#banner
    div.show_views
        div.slide.current_views
            img(src="images/banner/1.jpg")
        div.slide.next_views
            img(src="images/banner/2.jpg")
        div.slide
            img(src="images/banner/3.jpg")
        div.slide
            img(src="images/banner/4.jpg")
        div.slide
            img(src="images/banner/5.jpg")
        div.slide
            img(src="images/banner/6.jpg")
        div.slide
            img(src="images/banner/7.jpg")
    span#prev
    span#next


