include head
include banner

div.info_box
    div.info
        h3 如何鉴别吉他的质量
        img(src="/images/guitar.jpg" class="guitar_pic")
        section
            span 1
            h4 从材料的优劣来鉴别
            p (1)  面板
                |高级琴选用纹理顺直、年轮宽度为1—2毫米的云杉或鱼鳞杉单板制作，只用二块对拼，拼缝在中间，材料色泽要均匀、白净、无节疤、裂纹、虫眼、黑筋等疵病。
                |中级琴常用纹理比较顺直的松木或松木胶合板制作。
                |普及琴是用椴木胶合板或材质相同的优质胶合板制作。
            p (2)  侧板和背板．
                |高级琴采用优质的黑桃木、玫瑰木、红木等单板或胶合板制作。尤其是纹理对称，花纹美丽的更具价值。
                |中级琴常用槭木、红木等单板或胶合板材料创作，稍有花纹，材质不及高级琴精细，但无疵点。
                |普及琴用优质椴木、槭木、桦木胶合板制作。
            p (3)  指板弦码
                |高级琴采用乌本、红木、玫瑰木、花梨木等优质木材制作。
                |中级琴用红木、花梨木、香红木或材质相似的硬质木材制作。
                |普级琴用槭木、枫木、桦木等木材制作。
        section
            span 2
            h4 从工艺水平来鉴别
            p 选购者容易看出越高级的琴，工艺越精细，几乎找不出瑕疵。高级琴的造型优美，四周线条流畅，木质花纹美丽，镶线精致，琴身表面平整光滑，油漆明净，色泽均匀，各种配件配合协调，有彩色罗甸或象牙装饰镶嵌。
                |中级琴的造型与高级琴十分相近，但工艺较简单些，琴身背板中缝和四边有简单的嵌线，木质花纹比较稀少，但表面仍很平整光滑，工艺较精细。
                |普级琴一般没有嵌线，但有画线或喷花以提高其艺术性。油漆采用喷漆，同高级琴相比琴身的光滑度较差些。
        section
            span 3
            h4 从音质来鉴别
            p 这是最难的一项，音质是比较抽象的主观感受，它同周围环境反射物、演奏者的技巧、调弦的准确性和听觉等有关，要综合评估，这里仅作一般性叙述。
            p 高级琴的音色无论高、中、低各音区都比较统一谐和，高音明亮丽清晰，中音华丽、柔和，低音浑厚有力度，强音时有坚实感，音质纯净、无杂音，发音灵敏宏亮，轻弹时易出音，余音较长，传远性好，整个音域音阶准确。
                |中级琴音色比较统一，发音较灵敏宏亮，音阶准确而无杂音
                |普级琴的音阶准确，发音响亮，无明显杂音。
        section
            span 4
            h4 质量检查方法与要求
            p 无论高级、中教和普级吉他均应达到以下一些要求：
                br
                |(1） 琴头中线与琴箱中线应成一直线。
                br
                |(2)  琴柄不应向前倾或后仰，指板水平线与面板水平线平行。
                br
                |(3)  琴柄与共鸣箱结合处，古典吉他应在第十二品处，民谣欧吉他处在第十四品处。胶合密缝、端正。
                br
                |(4)  古典吉他的指板应平直光滑，民谣古他的指板要呈弧形。同样也应光滑，无碰弦现象。
                br
                |(5)  弦轴安装位置要正确，要左右对称，松紧适度转动调节灵活。
                br
                |(6)  共鸣箱边线和音孔周围、指板权两边等处应顺滑无毛刺粗糙感。
                br
                |(7)  指板、弦码、共鸣稍内外的胶合应牢固密缝、端正，无脱胶开裂观象。
                br
                |(8)  画线或嵌线、银嵌饰品应平整、均匀、清晰、美观。
                br
                |(9)  弦枕与弦码应对正指板，六条弦的间距要均匀。琴弦与指板的高度要适当，手感要良好。琴弦与指板的高度应符合以下标准：在第一品为1一1。5毫米，第十二品为4—4.5毫米(第6弦放宽至4.5--5.5毫米)。钢弦比尼龙弦应低些。
                br
                |(10)  琴弦校到标准音后，检查各音阶应准确、和弦协和，张力均匀、手感舒适。
                br
                |(11)  不允许有碰品和杂音。
                br
                |(12） 左手捏住琴颈与弦，用右手食指第二关节轻叩面板和背板，声音应坚实，有共鸣音。应无类脱胶松散杂音。
                br
include footer

