footer#footer
    ul.friend
        li.title 友情链接
        li
            a(href="http://www.byguitar.com/") 彼岸吉他网
        li
            a(href="http://bbs.ccjt.net/") 虫虫吉他社区
        li
            a(href="http://www.guitarworld.com.cn/") 吉他世界网
        li
            a(href="http://www.jitashe.net/") 玩易吉他社
    p CopyRight@2015 木白
    p.count